{{ define "main" }}
{{ partial "back_link.html" .}}

{{- $showToc := true -}}
{{- if isset .Params "toc" -}}
    {{- $showToc = .Params.toc -}}
{{- end -}}
{{- $toc := .TableOfContents -}}
{{- $hasToc := gt (len (findRE "<a href=" $toc)) 0 -}}

<article class="post">
    <div class="post-layout{{ if and $showToc $hasToc }} has-toc{{ end }}">
        <div class="post-main">
            <p class="post-meta">
                <time datetime="{{ .Date }}">
                    {{ .Date | time.Format site.Params.theme_config.date_format }}
                </time>
            </p>

            <h1>{{ .Title }}</h1>

            {{ .Content }}
        </div>

        {{ if and $showToc $hasToc }}
            <aside class="post-toc{{ if .Params.tocBorder }} toc{{ end }}" aria-label="Table of contents">
                <div class="post-toc__title">On this page</div>
                {{ $toc }}
                <a class="post-toc__top" href="#" data-toc-top hidden>[TOP]</a>
            </aside>
        {{ end }}
    </div>
</article>
{{ end }}
